<!-- Pokemon HTML file -->
{% extends 'practice_format.html'  %}
{% block page %}

<!-- this will make an entry bar --> 
 	<div class="input-group mb-3">
 		<div class="input-group-prepend">
 			<span class="input-group-text">Enter Pokemon Here</span>
 		</div>
 		<form action="" method="POST">
 		<p>
 			<label for="pokemon_name"/>
 			<input class="form-control" id="PokemonEntryBar" 
 			placeholder="Enter Pokemon Name" type="text" name="pokemon_name" />
 		</p>
 	</form>
 	</div>
<!-- if the message is called then it will be printed -->
	% if message %}
 		<p>{{ message }}</p>
 	{% endif %}

	<h1 class="container">This is my Pokemon List: </h1>
	 {% for i in range(0, pokemonList|length ) %}
	 	<h4 class="container">{{ i, pokemonList[i] }}</h4>
	 {% endfor %}
{% endblock %}
