<!-- Pokemon HTML file -->
{% extends 'practice_format.html'  %}
{% block page %}

<!-- this will make an entry bar --> 
 	<div class="input-group mb-3">
 		<div class="input-group-prepend">
 			<span class="input-group-text">Enter Pokemon Here</span>
 		</div>
<!-- This form checks the csrf_token() of the form, then it gets the labels of the form 
     creating the inputs according to each field's parameters -->
 		<form action="" method="POST">

			{{ form.csrf_token() }}

			{% for field in form if field.name != "csrf token" %}
				<p>{{ field.label() }}</p>
				<p>{{ field }}
					{% for error in field.errors %}
						{{ error }}
					{% endfor %}
				</p>
			{% endfor %}
		</form>
 	</div>

<!-- This returns the message parameter in flash message functions listed
     and separates each by a category added as a class to paragraph tag ---> 
{% for category, message in get_flashed_messages( with_categories=true) %}
		<p class="{{ category }}">{{ message }}</p>
	{% endfor %}

	<h1 class="container">This is my Pokemon List: </h1>
	 {% for i in range(0, pokemonList|length ) %}
	 	<h4 class="container">{{ i, pokemonList[i] }}</h4>
	 {% endfor %}
{% endblock %}
